<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="AucklandRideContext" connectionString="data source=aucklandride.database.windows.net;initial catalog=aucklandride;user id=gary;password=serpentS7&amp;;;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
